<!-- <p>edit-lesson works!</p> -->



<html>

<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="lessonForm" (ngSubmit)="onEditLesson()">

                <div class="form-group">
                    <label for="titleLesson">Title</label>
                    <input type="text" id="titleLesson" formControlName="titleLesson" class="form-control">
                </div>

                <div class="form-group">
                    <label for="typeLesson">Type</label>
                    <input type="text" id="typeLesson" formControlName="typeLesson" class="form-control">
                </div>



                <div class="form-group">
                    <label for="levelLesson">Level</label>
                    <input type="text" id="levelLesson" formControlName="levelLesson" class="form-control">
                </div>

                <div class="form-group">
                    <label for="fileLesson">File (PDF)</label>
                    <input type="text" id="fileLesson" formControlName="fileLesson" class="form-control">
                </div>

                <div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <button type="button" class="btn btn-outline-secondary" routerLink="viewpdf">Viewer PDF
                                    Lesson</button>

                                <button (click)="onGetPDF()">Get PDF</button>

                                <iframe *ngIf="pdfData" [src]="pdfData" width="100%" height="500px"></iframe>


                                <!-- Alternatively, you can use <object> to embed the PDF -->
                                <!--<object *ngIf="pdfData" [data]="pdfData" type="application/pdf" width="100%" height="500px"></object>-->


                            </div>
                        </div>
                    </div>
                </div>

                <!-- <span *ngIf="!lessonForm.valid && lessonForm.touched" class="help-block">Please enter valid
                        data!</span> -->
                

                <div class="col t-button-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-10">
        <ngx-extended-pdf-viewer [src]="pdfData" [height]="'100%'" [useBrowserLocale]="true"
            [textLayer]="true" [showHandToolButton]="true" [showPresentationModeButton]="true" [showPrintButton]="false"
            [showRotateButton]="false" [showOpenFileButton]="false" [showDownloadButton]="false"
            [showSidebarButton]="true" [scrollMode]="1">
        </ngx-extended-pdf-viewer>
    </div>
</div> -->






</html>