


.t-button-menu {
    text-align: left;
    font-weight: 600;
}

.t-align {
    align-content: left;
}


li:hover {
    color: goldenrod;
    font-size: larger;
}

li {
    list-style: none;
}

.accordion-body {
    padding: 0px;
}

.accordion-item,
.accordion-header,
.accordion-button,
.accordion-body {
    font-weight: 600;
    background-color: whitesmoke;
    /*     color: whitesmoke;
    background-color: #a6aa3e; */

}