<!-- <p>add-lesson works!</p> -->

<html>
    <div class="container">
        <h4>Add Lesson</h4>
        <div class="row">
            <div class="col-8">
                <form [formGroup]="lessonForm" (ngSubmit)="onAddLesson()">
                    <div class="form-group">
                        <label for="typeLesson">Type</label>
                        <input type="text" id="typeLesson" formControlName="typeLesson" class="form-control">
                    </div>
    
                    <div class="form-group">
                        <label for="tittleLesson">Title</label>
                        <input type="text" id="tittleLesson" formControlName="tittleLesson" class="form-control">   
                    </div>
    
                    <div class="form-group">
                        <label for="levelLesson">Level</label>
                        <input type="text" id="levelLesson" formControlName="levelLesson" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="fileLesson">File (PDF)</label>
                        <input type="text" id="fileLesson" formControlName="fileLesson" class="form-control">
                    </div>

                    <br><br>
                    <!-- <span *ngIf="!lessonForm.valid && lessonForm.touched" class="help-block">Please enter valid
                        data!</span> -->
                    <button class="btn btn-primary" type="submit">Add Lesson</button>
                </form>
            </div>
        </div>
    </div>
</html>

