<html>

<div class="container t-form-center">
    <div class="t-form-container ">
        <div class="row">
            <div class="col t-form t-form-title">
                <h4>Reset Password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col t-form">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                    <div class="form-group">
                        <label for="emailLoginReset">E-mail</label>
                        <input type="text" id="emailLoginReset" formControlName="emailLoginReset" class="form-control">
                        <span
                            *ngIf="!resetPasswordForm.get('emailLoginReset').valid && resetPasswordForm.get('emailLoginReset').touched"
                            class="help-block"> Please enter a valid email ! </span>
                    </div>

                    <div class="col t-button-right">
                        <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset
                            Password</button>
                    </div>     
                    
                    <div>
                        <app-popup *ngIf="messagePopup !== ''"></app-popup>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</html>