<!-- <p>view-lesson works!</p> -->

<div class="container">
    <div class="t-form-container" *ngIf="displayLesson">

        <div class="row">
            <div class="col t-form t-form-title">
                <h4>Lesson List</h4>
            </div>
        </div>

        <div class="t-form-search-group">
            <div class="row ">
                <div class="col-md-4 t-search-padding">
                    <input type="search" class="t-search-width" [(ngModel)]="searchText" placeholder="Title">
                </div>
                <div class="col-md-3 t-search-padding">
                    <select class="t-search-width" [(ngModel)]="searchType" placeholder="Type">
                        <option value="">Select a type</option>
                        <option *ngFor="let t of typeList" value="{{t.type}}">{{t.description}}</option>
                    </select>
                </div>
                <div class="col-md-3 t-search-padding">
                    <select class="t-search-width" [(ngModel)]="searchLevel" placeholder="Level">
                        <option value="">Select a level</option>
                        <option *ngFor="let l of levelList" value="{{l.level}}">{{l.description}}</option>
                    </select>
                </div>

                <div class="col-md-2 t-search-padding">
                    <button class="btn btn-secondary" type="reset" (click)="onClear()">Clear</button>
                </div>

                <!-- <div class="col-3">
                    <input type="search" [(ngModel)]="searchStudent" placeholder="Student">
                </div> -->
            </div>
        </div>


        <div class="row row-cols-1 row-cols-xs-12 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col" *ngFor="let l of lessonList 
                | search: searchText: 'title' | search: searchType: 'type' | search: searchLevel: 'level' 
                | pagination: pageSize : currentPage">

                <div class="card t-card-list">
                    <div class="card-body">
                        <h5 class="card-title">{{l.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{l.dstype}}</h6>
                        <p class="card-text">{{l.dslevel}}</p>

                        <!-- <a href="#" class="card-link">Edit</a> -->
                        <!-- <p>ID: {{l.idlesson}}</p> -->


                    </div>
                    <div *ngIf="profileUser == 'admin'" class="card-footer t-button-list-center">
                        <!-- delete lesson -->
                        <button class="btn btn-outline-danger bi bi-trash3 t-button-list-margin" type="button"></button>

                        <!-- edit lessons -->
                        <button class="btn btn-outline-success bi bi-pencil-square t-button-list-margin" type="button"
                            [routerLink]="[l.idlesson]" (click)="onEdit()"></button>

                        <!-- add student to view lesson -->
                        <button class="btn btn-outline-secondary bi bi-person-plus t-button-list-margin" type="button"
                            [routerLink]="['studentlesson',l.idlesson,l.title]" (click)="onAddStudentLesson()"></button>

                    </div>
                    <div *ngIf="profileUser == 'student'" class="card-footer t-button-list-center">
                        <!-- view lesson pdf -->
                        <button class="btn btn-outline-secondary bi bi-filetype-pdf t-button-list-margin" type="button"
                            [routerLink]="[l.idlesson]" (click)="onEdit()"></button>
                    </div>
                </div>

            </div>

        </div>
        <div class="row mt-1">
            <div class="col pagination-container t-form-pagination">
                <button class="btn btn-secondary bi bi-arrow-left-square" type="button"
                    (click)="prevPage()"></button>
                <span> {{currentPage}} </span>
                <button class="btn btn-secondary bi bi-arrow-right-square" type="button"
                    (click)="nextPage()"></button>
            </div>
        </div>
    </div>

    <div *ngIf="!displayLesson" class="t-form-center">
        <div class="t-form-container">
            <div class="row">
                <div class="col t-form ">
                    <div class="row">
                        <div *ngIf="profileUser == 'admin'" class="col-9 t-form-title">
                            <h4 *ngIf="!displayStudent">Edit Lesson</h4>
                            <h4 *ngIf="displayStudent">Add Student to view Lesson</h4>
                        </div>
                        <div *ngIf="profileUser == 'student'" class="col-9 t-form-title">
                            <h4>View PDF</h4>
                        </div>
                        <div class="col-2 t-button-right">
                            <button class="btn btn-outline-dark" type="submit" (click)="onBack()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col t-form">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <app-edit-lesson></app-edit-lesson> -->