<!-- <p>view-lesson works!</p> -->


<html>
<h4>View Lesson</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <span>Search</span><input type="text">
            <span>Student</span><input type="search">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Type</span><input type="search">
            <span>Level</span><input type="search">

        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title....</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Level xxx</h6>
                    <p class="card-text">Type xxx</p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>

    </div>

</div>

</html>


<!-- <app-edit-lesson></app-edit-lesson> -->