<!-- <p>admin-edit-user works!</p> -->

<html>

<div class="container">

    <div class="row">
        <div class="col">
            <form [formGroup]="editUserForm" (ngSubmit)="onEdituser()">
                <!-- <div class="form-group">
                    <label for="idUser">Id</label>
                    <input type="text" id="idUser" formControlName="idUser" class="form-control">
                </div> -->

                <div class="form-group">
                    <label for="nameUser">Name</label>
                    <input type="text" id="nameUser" formControlName="nameUser" class="form-control">
                </div>

                <div class="form-group">
                    <label for="emailUser">E-mail</label>
                    <input type="text" id="emailUser" formControlName="emailUser" class="form-control">
                </div>

                <div class="form-group">
                    <label for="phoneUser">Phone</label>
                    <input type="text" id="phoneUser" formControlName="phoneUser" class="form-control">
                </div>

                <div class="form-group">
                    <label for="dateBirthUser">Date of Birth</label>
                    <input type="text" id="dateBirthUser" formControlName="dateBirthUser" class="form-control" placeholder="YYYY/MM/DD">
                </div>

                <div class="form-group">
                    <label for="profileUser">Profile</label>
                    <input type="text" id="profileUser" formControlName="profileUser" class="form-control">
                    <!-- <select id="profileUser" formControlName="profileUser" class="form-control">
                        <option value="student" selected>Student</option>
                    </select> -->
                </div>

                <div class="form-group">
                    <label for="activeUser">Active?</label>
                    <!-- <input type="text" id="activeUser" formControlName="activeUser" class="form-control"> -->

                    <div class="row t-form-radio-group">
                        <div class="col-6">
                            <input type="radio" id="activeUserYes" formControlName="activeUser"
                                class="form-control form-check-input" value="Y">Yes
                        </div>
                        <div class="col-6">
                            <input type="radio" id="activeUserNo" formControlName="activeUser"
                                class="form-control form-check-input" value="N">No
                        </div>
                    </div>

                </div>

                <br><br>
                <!-- <span *ngIf="!userForm.valid && userForm.touched" class="help-block">Please enter valid
                    data!</span> -->


                <div class="row">
                    <div class="col">
                        <button class="btn btn-warning" type="button" (click)="onResetPassword()">Reset
                            Password</button>
                    </div>
                    <div class="col t-button-right">
                        <button class="btn btn-primary" type="submit" [disabled]="!editUserForm.valid">Save
                            User</button>
                    </div>
                </div>

                <div>
                    <app-popup *ngIf="messagePopup !== ''"></app-popup>
                </div>

            </form>
        </div>
    </div>

</div>

</html>