<div class="container-fluid">

    <div class="container">
        <h2>
            Private Tutoring
        </h2>

        <p>

        </p>


    </div>




</div>

<!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        English
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Speaking</h5>
                        
                        <button (click)="showDivLanguageLearn('E')" class="btn btn-primary">.. more</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        Turkish
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Listening</h5>
                        
                        <button (click)="showDivLanguageLearn('T')" class="btn btn-primary">.. more</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        German
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Writing</h5>
                        
                        <button (click)="showDivLanguageLearn('G')" class="btn btn-primary">.. more</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        German
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Reading</h5>
                        
                        <button (click)="showDivLanguageLearn('G')" class="btn btn-primary">.. more</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div> -->

<!-- <div>
    <div class="container" *ngIf="divOptionLanguageLearn === 'E'">
        <h3><strong>English</strong></h3>
    </div>

    <div class="container" *ngIf="divOptionLanguageLearn === 'T'">
    </div>

    <div class="container" *ngIf="divOptionLanguageLearn === 'G'">
    </div>

</div> -->

<br><br><br>