<div class="container-fluid t-banner">
    <div class="row t-banner-main-title">
        {{t_main_title}}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 t-padding-col">
            <div>
                <carousel [interval]="5000" [noPause]="false" [noWrap]="false">
                    <slide>
                        <img src={{t_path_image_banner1}} class="d-block w-100 t-banner-carousel" alt="Imagem 1">
                    </slide>
                    <slide>
                        <img src={{t_path_image_banner2}} class="d-block w-100 t-banner-carousel" alt="Imagem 2">
                    </slide>
                    <slide>
                        <img src={{t_path_image_banner3}} class="d-block w-100 t-banner-carousel" alt="Imagem 3">
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 d-flex align-items-center t-padding-col">
            <div class="t-banner-border t-banner-text">
                <ul class="t-padding-col">
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t1}}</li>
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t2}}</li>
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t3}}</li>
                </ul>

                <div class="row justify-content-center t-banner-text-center t-padding-col">
                    <div class="col-12 t-padding-text">
                        {{t11}}
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row justify-content-center">
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-mic"></i> {{t12}}
                            </div>
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-headphones"></i> {{t13}}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-pencil-square"></i> {{t14}}
                            </div>
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-book"></i> {{t15}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container t-works">

    <div class="row t-main-section-title-dark">
        {{t4}}
    </div>

    <div class="row justify-content-around t-work-text t-padding-col">
        <div class="card" style="width: 18rem;">
            <img class="t-work_card_img" src={{t_path_image_work1}} alt="goal">
            <div class="card-body">
                <p class="card-text">{{t5}}</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src={{t_path_image_work2}} alt="scratch">
            <div class="card-body">
                <p class="card-text">{{t5}}</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src={{t_path_image_work3}} alt="improving">
            <div class="card-body">
                <p class="card-text">{{t5}}</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center t-work-text">
        <div class="col-12 t-padding-col">
            {{t8}}
        </div>
        <div class="col-12 t-padding-col">
            {{t9}}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 t-padding-col t-work-text-message">
            {{t10}}
            <button class="btn btn-outline-dark" routerLink="contact">Contact me</button>
        </div>
    </div>

</div>




<div class="container-fluid t-plan">
    <div class="container">
        <div class="row t-main-section-title-dark">
            {{t16}}
        </div>

        <div class="row justify-content-center t-plan-ds">
            <div class="col-12 mt-4 mb-2">
                {{t161}}
            </div>
            <div class="col-12 mb-2">
                {{t162}}
            </div>
        </div>

        <div class="row justify-content-center t-plan-card t-plan-card-text">
            <div class="card" style="width: 22rem;">
                <div class="card-header text-center t-card-header">
                    {{t17}}
                </div>
                <div class="card-body">
                    <ul>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t20}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t23}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-outline-dark" routerLink="contact">Contact me</button>
                </div>
            </div>

            <div class="card" style="width: 22rem;">
                <div class="card-header text-center t-card-header">
                    {{t18}}
                </div>
                <div class="card-body">
                    <ul>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t20}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t23}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t21}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t22}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-outline-dark" routerLink="contact">Contact me</button>
                </div>
            </div>

            <div class="card" style="width: 22rem;">
                <div class="card-header text-center t-card-header">
                    {{t19}}
                </div>
                <div class="card-body">
                    <ul>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t20}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t23}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t21}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t22}}</li>
                        <li class="t-padding-col"><i class="bi bi-play-fill"></i>{{t24}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-outline-dark" routerLink="contact">Contact me</button>
                </div>
            </div>
        </div>
    </div>

</div>


<app-contact></app-contact>
