<div class="container-fluid t-banner">
    <div class="row t-banner-main-title">
        {{t_main_title}}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 t-padding-col">
            <div>
                <carousel [interval]="5000" [noPause]="false" [noWrap]="false">
                    <slide>
                        <img src={{t_path_image_banner1}} class="d-block w-100 t-banner-carousel" alt="Imagem 1">
                    </slide>
                    <slide>
                        <img src={{t_path_image_banner2}} class="d-block w-100 t-banner-carousel" alt="Imagem 2">
                    </slide>
                    <slide>
                        <img src={{t_path_image_banner3}} class="d-block w-100 t-banner-carousel" alt="Imagem 3">
                    </slide>
                </carousel>
            </div>
        </div>

        <div class="col-12 col-md-5 d-flex align-items-center t-padding-col">
            <div class="t-banner-border t-banner-text">
                <ul class="t-padding-col">
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t1}}</li>
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t2}}</li>
                    <li class="t-padding-col"><i class="bi bi-check2-all"></i>{{t3}}</li>
                </ul>

                <div class="row justify-content-center t-banner-text-center t-padding-col">
                    <div class="col-12 t-padding-text">
                        {{t11}}
                    </div>
                    <div class="col-12 mt-2">
                        <div class="row justify-content-center">
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-mic"></i> {{t12}}
                            </div>
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-headphones"></i> {{t13}}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-pencil-square"></i> {{t14}}
                            </div>
                            <div class="col-6 t-padding-col">
                                <i class="bi bi-book"></i> {{t15}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <img src={{t_path_image_banner1}} class="img-fluid t-img-banner" alt="person on the computer"> -->

</div>


<div class="container t-works">

    <div class="row t-main-section-title">
        {{t4}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5 t-padding-col">
            <div class="row t-work-text">                
                    <p>{{t8}}</p>
                    <p>{{t9}}</p>                     
            </div>

            <div class="row t-work-text mt-4">
                {{t10}} <button>Contact me</button>        
            </div>
        </div>

        <div class="col-sm-12 col-md-7 t-padding-col">
            <div class="card-container">
                <div class="card">
                    <img class="t-work-card-img" src={{t_path_image_work1}} alt="goal">
                    <p>{{t5}}</p>
                </div>

                <div class="card">
                    <img class="t-work-card-img" src={{t_path_image_work2}} alt="scratch">
                    <p>{{t6}}</p>
                </div>

                <div class="card">
                    <img class="t-work-card-img" src={{t_path_image_work3}} alt="timezone">
                    <p>{{t7}}</p>
                </div>
            </div>
        </div>
    </div>


</div>




<div class="container-fluid t-plan">
        <div class="container">
            <div class="row t-main-section-title-dark">
                {{t16}}
            </div>

            <div class="row">

                <div class="col-sm-12 col-md-2 t-padding-col">
                    <div class="row t-plan-ds">
                        {{t161}}
                    </div>

                    <div class="row t-plan-ds">
                        {{t162}}
                    </div>
                </div>

                <div class="col-sm-12 col-md-10 t-plan-card">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="card t-plan-card-height">
                                <div class="card-header text-center">
                                    {{t17}}
                                </div>
                                <div class="card-body">
                                    <p>{{t20}}</p>
                                    <p>{{t23}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-outline-dark">Contact me</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 ">
                            <div class="card t-plan-card-height">
                                <div class="card-header text-center">
                                    {{t18}}
                                </div>
                                <div class="card-body">
                                    <p>{{t20}}</p>
                                    <p>{{t23}}</p>
                                    <p>{{t21}}</p>
                                    <p>{{t22}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-outline-dark">Contact me</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 ">
                            <div class="card t-plan-card-height">
                                <div class="card-header text-center">
                                    {{t19}}
                                </div>
                                <div class="card-body">
                                    <p>{{t20}}</p>
                                    <p>{{t23}}</p>
                                    <p>{{t21}}</p>
                                    <p>{{t22}}</p>
                                    <p>{{t24}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-outline-dark">Contact me</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>



<!-- 
<div class="container t-tips">


</div> -->

<!-- <div class="col-sm-12 col-md-3">
    <div class="card">
        <div class="card-header">
            {{t15}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Reading</h5>

            <button (click)="showDivLanguageLearn('G')" class="btn btn-primary">.. more</button>
        </div>
    </div>
</div> -->
<!-- <div>
    <div class="container" *ngIf="divOptionLanguageLearn === 'E'">
        <h3><strong>English</strong></h3>
    </div>

    <div class="container" *ngIf="divOptionLanguageLearn === 'T'">
    </div>

    <div class="container" *ngIf="divOptionLanguageLearn === 'G'">
    </div>

</div> -->


<!-- <app-viewer-pdf></app-viewer-pdf> -->