
<!-- <p>viewer-pdf works!</p> -->


 <div class="row">
    <div class="col-10">
        <ngx-extended-pdf-viewer [src]="'/assets/pdfs/HTML5_15minutes.pdf'" [height]="'100%'" [useBrowserLocale]="true"
            [textLayer]="true" [showHandToolButton]="true" [showPresentationModeButton]="true" [showPrintButton]="false"
            [showRotateButton]="false" [showOpenFileButton]="false" [showDownloadButton]="false"
            [showSidebarButton]="true" [scrollMode]="1">
        </ngx-extended-pdf-viewer>
    </div>
</div>





<!-- [showToolbar]="false" -->


